body {
  font-family: 'Work Sans';
  font-size: 16px;
  line-height: 1.5;
  background-color: #000000;
  color: #ffffff;
  padding-top: 104px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  float: left;
  width: 64px;
  padding: 20px;
}

header nav {
  float: right;
  padding: 20px;
}

header nav a:active {
  border-bottom: solid 2px #ffffff;
}

.photos {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.photo {
  width: 300px;
  margin: 10px;
  position: relative;
}

.photo .overlay {
  position: absolute;
  top: 0;
  left: 0;

}

.large {
  width: 400px;
}

.small {
  width: 200px;
}

.photo img {
  max-width: 100%;
}